html {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: fixed;
	padding-top: 50px;
}

#test {
	height: 1000px;
	border: 1px solid red;
}

*{
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}
a {
	font-weight: normal;
	text-decoration: none;
	letter-spacing: 1px;
}

h1 {
	font-family: 'Oleo Script',"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 42px;
}

footer {
	background-color: white;
	color: grey;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 100;
	font-size: 12px;
}

.glyphicon {
	padding: 10px;
}

/* navbar styles*/
.navbar {
	background-color: rgba(255,255,255,1);
	padding-right: 15px;
  	border-radius: 4px;
  	border: 1px solid #ccc;
  	border: 1px solid rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.navbar-nav li > a:hover, 
.navbar-nav li > a:focus,
.navbar-nav li > a:active{
	background-color: transparent;
}
#zoom-fade {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-text-shadow: 0 0 50px transparent;
  -moz-text-shadow: 0 0 50px transparent;
  -ms-text-shadow: 0 0 50px transparent;
  -o-text-shadow: 0 0 50px transparent;
  text-shadow: 0 0 50px transparent;
  color: rgba(0, 0, 0, 0.5);
  overflow: visible;
}
#zoom-fade:hover {
  -webkit-text-shadow: 0 0 0px black;
  -moz-text-shadow: 0 0 0px black;
  -ms-text-shadow: 0 0 0px black;
  -o-text-shadow: 0 0 0px black;
  text-shadow: 0 0 0px black;
}
/* end */


/* Vertical Carousel Text Post*/

.col-md-9 > .container {
	margin: 0;
	display: block;
}
.ticker-headline {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 15px 0;
  margin: 0;
}
.carousel.vertical .carousel-inner {
  height: 100%;
  width: 100%;
}
.carousel.vertical .carousel-inner > .item {
  width: 100%;
  -webkit-transition: 0.6s ease-in-out top;
  transition: 0.6s ease-in-out top;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel.vertical .carousel-inner > .item {
    -webkit-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
  }
  .carousel.vertical .carousel-inner > .item.next, .carousel.vertical .carousel-inner > .item.active.right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    top: 0;
  }
  .carousel.vertical .carousel-inner > .item.prev, .carousel.vertical .carousel-inner > .item.active.left {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    top: 0;
  }
  .carousel.vertical .carousel-inner > .item.next.left, .carousel.vertical .carousel-inner > .item.prev.right, .carousel.vertical .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    top: 0;
  }
}
.carousel.vertical .carousel-inner > .active,
.carousel.vertical .carousel-inner > .next,
.carousel.vertical .carousel-inner > .prev {
  display: block;
}
.carousel.vertical .carousel-inner > .active {
  top: 0;
}
.carousel.vertical .carousel-inner > .next,
.carousel.vertical .carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel.vertical .carousel-inner > .next {
  top: 100%;
}
.carousel.vertical .carousel-inner > .prev {
  top: -100%;
}
.carousel.vertical .carousel-inner > .next.left,
.carousel.vertical .carousel-inner > .prev.right {
  top: 0;
}
.carousel.vertical .carousel-inner > .active.left {
  top: -100%;
}
.carousel.vertical .carousel-inner > .active.right {
  top: 100%;
}

.carousel.vertical .carousel-control {
  left: auto;
  width: 50px;
}
.carousel.vertical .carousel-control.up {
  top: 0;
  right: 0;
  bottom: 50%;
}
.carousel.vertical .carousel-control.down {
  top: 50%;
  right: 0;
  bottom: 0;
}
.carousel.vertical .carousel-control .icon-prev,
.carousel.vertical .carousel-control .icon-next,
.carousel.vertical .carousel-control .glyphicon-chevron-up,
.carousel.vertical .carousel-control .glyphicon-chevron-down {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
.carousel.vertical .carousel-control .icon-prev,
.carousel.vertical .carousel-control .glyphicon-chevron-up {
  left: 50%;
  margin-left: -10px;
  top: 50%;
  margin-top: -10px;
}
.carousel.vertical .carousel-control .icon-next,
.carousel.vertical .carousel-control .glyphicon-chevron-down {
  left: 50%;
  margin-left: -10px;
  top: 50%;
  margin-top: -10px;
}
.carousel.vertical .carousel-control .icon-up,
.carousel.vertical .carousel-control .icon-down {
  width: 20px;
  height: 20px;
  line-height: 1;
  font-family: serif;
}
.carousel.vertical .carousel-control .icon-prev:before {
  content: '\2039';
}
.carousel.vertical .carousel-control .icon-next:before {
  content: '\203a';
}

/* the end */
.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: rgba(255,255,255,0.6);
  background-image: none;
  border: 2px solid black;
  border-radius: 5;
}

.icon-bar {
	background-color: black;
}


form {
	margin-bottom: 20px;
}

.form-group textarea,
.form-group input {
	border-radius: 0;
}
.btn,
.btn-x1 {
	background-color: white;
	color: black;
	font-size: 15px;
	transition: 0.5s;
	border-radius: 2;
	border: black 1px solid
}
.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
@media only screen and (max-width: 768px){
.form-group{
	max-width: 80%;
	margin-left: 10%;
	margin-right: auto;
}
}

.dropdown-menu {
	position: absolute;
	margin-bottom: 0;
}

